
body{

    margin: 0;
    padding: 0;
    background-image: url(download.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    font-family: Arial, Helvetica, sans-serif;

}
.MainMenu{
    position: absolute;

    border: solid 1px black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    height: 15%;
    background-color: rgb(184, 179, 179);
    justify-content: center;
    align-items: center;
    text-align: center;


}
.play{

    position: relative;
    bottom: 78%;
    font-size: 90px;
    font-family: fantasy;
    color: #020927;
    border-bottom: solid 1px;
    width: 100%;
    height: 102%;


}
.linka{

    position: absolute;
    width: 25%;
    height: 100%;
    display: flex;
    left: 37%;

}
a{
    /*deixa o texto com um link como se fosse um texto normal*/
    text-decoration: none;
}
.content{

    position: absolute;
    border: solid 1px black;
    border-radius: 50px;
    width: 60%;
    height: 855%;
    top: 40%;
    left: 19.5%;
    background-color: rgb(184, 179, 179);
    
    

    

}
.tituJg{

    position: relative;
    border-bottom: solid 1px;
    left: 13%;
    width: 61%;
    font-size: 40px;
    display: flex;


}
.Mainhist{

    position: relative;
   
    

}
.hist{

    position: relative;
    border-bottom: solid 1px;
    left: 10%;
    top: 5%;
    width: 19%;
    font-size: 40px;
   

}
.histtext{

    position: relative;
    top: 30%;
    left: 10%;
    width: 81%;
    font-size: 20px;

}
/*---------------------------------------------------------------------------*/
.conq{

    position: relative;

}
.TitConq{

    position: relative;
    border-bottom: solid 1px;
    left: 10%;
    top: 5%;
    width: 35%;
    font-size: 40px; 
}

.TitConqSub{

    position: relative;
    border-bottom: solid 1px;
    left: 10%;
    top: 5%;
    width: 35%;
    font-size: 25px;
}
.ConqText{

    position: relative;
    top: 30%;
    left: 10%;
    width: 81%;
    font-size: 20px;

}
/*--------------------------------------------------------------------------*/
.control{

    position: relative;

}
.TitControl{

    position: relative;
    border-bottom: solid 1px;
    left: 10%;
    top: 5%;
    width: 35%;
    font-size: 40px;

}
.ControlText{

    position: relative;
    top: 30%;
    left: 10%;
    width: 90%;
    font-size: 25px;

}
/*--------------------------------------------------------------------------*/
.colet{

    position: relative;

}
.TitColet{

    position: relative;
    border-bottom: solid 1px;
    left: 10%;
    top: 5%;
    width: 21%;
    font-size: 40px;

}
.ColetText{

    position: relative;
    top: 30%;
    left: 10%;
    width: 81%;
    font-size: 20px;

}
/*--------------------------------------------------------------------------*/
.map{

    position: relative;

}
.TitMap{

    position: relative;
    border-bottom: solid 1px;
    left: 10%;
    top: 5%;
    width: 13%;
    font-size: 40px;

}
.MapText{

    position: relative;
    top: 30%;
    left: 10%;
    width: 81%;
    font-size: 20px;

}